@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --color-base: rgb(30, 30, 46);
    --color-light-foreground: rgba(217, 217, 217, 0.55);
    --color-primary-translucent: rgba(238, 107, 60, 0.60);
    --color-text-color: rgb(255, 255, 255);
}

@layer base {
  button:focus {
    outline: none;
    box-shadow: none;
  }
}


